/* Немного с сеткой не понимаю как лучше реализовать overflow элементов слайдера.. */
#slider_section {
    background-color: var(--color-2-lighter);
}

#slider_section .slider_header {

}

#slider_section .slider_header h2{
    color: var(--gray-darker);
}
#slider_section .slider_header .slider_header_btn {

}

#slider_section .slider_list {
    display: flex;
    overflow-x: scroll; 
    gap: 20px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}
#slider_section .slider_list:-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

#slider_section .slider_list .slider_el {
    border: 2px solid var(--color-2-light);
    min-width: 300px;
    padding: 40px 60px;
    background-color: var(--gray-white);
    border-radius: 20px;
}

#slider_section .slider_list .slider_el h2 {
    color: transparent;
    background-clip: text;
    background-image: var(--gradient-main);
    text-wrap: nowrap;
}
/* SLIDER HEADER */
#slider_section .slider_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* SLIDER ELEMENT */
#slider_section .slider_list .slider_el p{
    color: var(--color-2-dark);
}
.slider_el_separator {
    width: 200px;
    height: 2px;
    background-color: var(--gray-lighter);
    margin-top: 12px;
}

/* SLIDER HEADER BTN */
#slider_section .slider_header .slider_header_btn div {
    width: 48px;
    height: 48px;
    background-color: var(--gray-white);
    background-image: url('icons/mark_back.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}
#slider_section .slider_header .slider_header_btn div:hover {
    cursor: pointer;
    background-color: var(--color-1-lighter);
}
#slider_section .slider_header .slider_header_btn div:active {
    background-color: var(--color-1-light);
}
#slider_section .slider_header .slider_header_btn div:last-child {
    transform: rotate(180deg);
}
@media screen and (max-width: 374px) {
    #slider_section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #slider_section .slider_header {
        margin: 0 16px;
    }
    #slider_section .slider_header .slider_header_btn {
        display: none;
    }
    #slider_section .slider_list {
        margin-top: 32px;
    }
    #slider_section .slider_list .slider_el:first-child {
        margin-left: 16px;
    }
    #slider_section .slider_list .slider_el:last-child{
        margin-right: 16px;
    }
    #slider_section .slider_list .slider_el {
       min-width: 200px;
        padding: 48px 40px;
    }
    #slider_section .slider_list .slider_el p{
        margin-top: 12px;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    #slider_section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #slider_section .slider_header {
        margin: 0 16px;
    }
    #slider_section .slider_header .slider_header_btn {
        display: none;
    }
    #slider_section .slider_list {
        margin-top: 32px;
    }
    #slider_section .slider_list .slider_el:first-child {
        margin-left: 16px;
    }
    #slider_section .slider_list .slider_el:last-child{
        margin-right: 16px;
    }
    #slider_section .slider_list .slider_el {
        min-width: 200px;
         padding: 48px 40px;
     }
     #slider_section .slider_list .slider_el p{
         margin-top: 12px;
     }
}
@media screen and (min-width: 768px) and (max-width: 1365px) {
    #slider_section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    #slider_section .slider_header {
        margin: 0 45px;
    }
    #slider_section .slider_header .slider_header_btn {
        display: flex;
        gap: 8px;
    }
    #slider_section .slider_list {
        margin-top: 40px;
    }
    #slider_section .slider_list .slider_el:first-child {
        margin-left: 45px;
    }
    #slider_section .slider_list .slider_el:last-child{
        margin-right: 45px;
    }
    #slider_section .slider_list .slider_el {
        min-width: 200px;
        padding: 50px 40px;
     }
     .slider_el_separator {
        margin-top: 20px;
    }
    #slider_section .slider_list .slider_el p{
        margin-top: 20px;
    }
}
@media screen and (min-width: 1366px) {
    #slider_section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    #slider_section .slider_header .slider_header_btn {
        display: flex;
        gap: 8px;
    }
    #slider_section .slider_list {
        margin-top: 40px;
    }
    #slider_section .slider_list .slider_el {
        min-width: 200px;
        padding: 50px 40px;
     }
    #slider_section .slider_list .slider_el p{
        margin-top: 20px;
    }
    .slider_el_separator {
        margin-top: 20px;
    }
}